* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  min-height: 650px;
}

#score {
  font-size: 60px;
}

#form > label {
  font-size: 24px;
}
.info-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 24px;
  outline: none;
}

.info-input:invalid {
  border: 2px solid red;
  border-radius: 4px;
}

.start-game-container {
  margin: -50px 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.start-btn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #036944;
}

.start-btn:disabled {
  background-color: #d5e4de;
  cursor: not-allowed;
}

#countdown {
  font-size: 50px;
  min-height: 60px;
  color: #04aa6d;
  font-weight: 600;
}

.score-description {
  font-size: 24px;
}

.score-description span {
  font-weight: 600;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0 0;
}
